body{
    background-color: rgb(229, 233, 242);

    display: flex;
    flex-flow: column wrap;
    place-content: center;
}
.box{
    width: 700px;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    
}
.container{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
h1{
    display: inline-block;
    margin-bottom: 25px;
    font: 30px;
}
.notifications{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.person{
    display: grid;
    grid-template-columns: 70px 1fr;
    /* grid-template-rows: repeat(7, 1fr); */
    row-gap: 5px;

    background-color: hsl(210, 60%, 98%);
    border-radius: 10px;

    padding: 10px;
}
.imgs{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 50px;
}
.stories{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.name{
    font-weight: bold;
    text-decoration-line: none;
    color: black;
}
.name:hover{
    color: hsl(219, 64%, 46%);
}
.readmark{
    font-size: 11px;
    color: hsl(1, 90%, 64%);
}
time{
    color: gray;
}
.messages{
    background-color: rgb(197, 210, 252);
    border-radius: 5px;
    padding: 10px;
    
    display: none;
}
#emptybox{
    background-color: transparent;
}